<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>security.txt Dashboards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center">security.txt Dashboards</h1>
    </div>
    <div class="container">
        <div class="row">
            <h2>Available Dashboards</h2>
                <div class="mtb-4">
                    <ul class="list-group">
                        {list_items}
                    </ul>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        <!-- English content -->
        <div class="col">
            <h2>
                Why your organisation needs a security.txt file<br/>
                <small class="text-body-secondary">Improving security posture and public trust - the benefits of implementing a security.txt file for your organisation.</small>
            </h2>
            <p>A security.txt file is a simple text file placed on your web site. It serves as a standardised communication channel for security researchers to disclose vulnerabilities they discover.  Here are three main reasons why it is beneficial to adopt a security.txt file:</p>
            
            <h3>Improved vulnerability reporting</h3>
            <p>Security researchers often come across vulnerabilities in the course of their work. A security.txt file provides a clear and preferred method for them to report these issues directly to you. This streamlined process ensures that you receive timely notification of potential security risks, allowing you to address them quickly and effectively.</p>
            
            Reduced incident response time</h3>
            <p>Prompt action is critical when dealing with security vulnerabilities.  The security.txt file facilitates faster communication with security researchers, minimising the window of opportunity for attackers to exploit discovered vulnerabilities. This results in a more robust security posture for your organisation.</p>
            
            <h3>Increased transparency and trust</h3>
            <p>Publishing a security.txt file demonstrates your commitment to responsible security practices. It signals to the public and industry partners that you take site security seriously and have a clear process for addressing vulnerabilities. This fosters trust and reinforces our reputation as a security-conscious organisation.</p>
            
            <p>In summary, implementing a security.txt file is a simple yet powerful step in strengthening your organisation's security posture. It fosters a collaborative environment with security researchers, accelerates vulnerability response times, and builds public trust.</p>
            <p>For further information, please visit <a href="https://securitytxt.org/" target="_blank" rel="noopener">https://securitytxt.org/</a>.</p>
        </div>
        <!-- end EN -->
        <!-- German content -->
        <div class="col">
            <h2>
                Warum Ihre Organisation eine security.txt-Datei braucht<br/>
                <small class="text-body-secondary">Verbesserung der Sicherheitslage und des öffentlichen Vertrauens - die Vorteile der Implementierung einer security.txt-Datei für Ihre Organisation.</small>
            </h2>
            <p>Eine security.txt-Datei ist eine einfache Textdatei, die auf Ihrer Website platziert wird. Sie dient als standardisierter Kommunikationskanal für Sicherheitsforscher, um von ihnen entdeckte Schwachstellen offenzulegen.  Im Folgenden werden drei Hauptgründe genannt, warum es vorteilhaft ist, eine security.txt-Datei einzuführen:</p>
            
            <h3>Verbesserte Meldung von Sicherheitslücken</h3>
            <p>Sicherheitsforschende stoßen bei ihrer Arbeit häufig auf Sicherheitslücken. Eine security.txt-Datei bietet ihnen eine klare und bevorzugte Methode, diese Probleme direkt an Sie zu melden. Dieser standardisierte Prozess stellt sicher, dass Sie rechtzeitig über potenzielle Sicherheitsrisiken informiert werden, so dass sie diese schnell und effektiv beheben können.</p>
            
            <h3>Kürzere Reaktionszeit auf Vorfälle</h3>
            <p>Beim Umgang mit Sicherheitsschwachstellen ist schnelles Handeln entscheidend.  Die Datei security.txt ermöglicht eine schnellere Kommunikation mit Sicherheitsforschenden und minimiert das Zeitfenster, in dem Angreifer entdeckte Schwachstellen ausnutzen können. Das Ergebnis ist eine robustere Sicherheitslage für ihre Organisation.</p>
            
            <h3>Erhöhte Transparenz und Vertrauen</h3>
            <p>Die Veröffentlichung einer security.txt-Datei zeigt, dass Sie sich zu verantwortungsvollen Sicherheitspraktiken verpflichtet haben. Sie signalisiert der Öffentlichkeit und den Partnern in der Branche, dass Sie die Sicherheit Ihrer Website ernst nehmen und über ein klares Verfahren zur Behebung von Schwachstellen verfügen. Dies fördert das Vertrauen und stärkt Ihren Ruf als sicherheitsbewusstes Unternehmen.</p>
            
            <p>Zusammenfassend lässt sich sagen, dass die Einführung einer security.txt-Datei ein einfacher, aber wirkungsvoller Schritt zur Stärkung der Sicherheitslage unserer Organisation ist. Sie fördert die Zusammenarbeit mit Sicherheitsforschern, beschleunigt die Reaktionszeiten auf Schwachstellen und stärkt das öffentliche Vertrauen.</p>
            
            <p>Weitere Informationen finden Sie unter <a href="https://securitytxt.org/" target="_blank" rel="noopener">https://securitytxt.org/</a>.</p>
            </div>
            <!-- end DE -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" crossorigin="anonymous" async></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
